*.creator.*

build/
node_modules/

html/
latex/
local/
doxygen_*

blob_planet
test

*.blend1
*.blend2
*.blend3
*.blend4

.tup/
build-debug/*
build-release/*
!build-debug/tup.config
!build-release/tup.config

bad_shader.glsl
*.trace

imgui.ini

*.gen.h
*.gen.c
*.gen.cpp

recording_*

third_party/flatbuffers/
third_party/imgui/
third_party/readerwriterqueue/
third_party/spdlog/
third_party/Static-Sort/
third_party/THST/

raycastlookuptable_cache.bin

__pycache__/
