*.creator.*

node_modules/

.tup/
build-debug/*
build-release/*
!build-debug/tup.config
!build-release/tup.config

bad_shader.glsl
*.trace

imgui.ini

*.gen.h
*.gen.c
*.gen.cpp

third_party/flatbuffers/
third_party/imgui/
third_party/readerwriterqueue/
third_party/spdlog/
third_party/Static-Sort/
third_party/THST/

program/
