.DS_Store

/*.creator.*

/node_modules/

/.tup/
/build-*/

/bad_shader.glsl
/*.trace

/imgui.ini

*.gen.h
*.gen.c
*.gen.cpp

/third_party/*
!/third_party/update.bash

/program/

fftw_wisdom_float.bin
fftw_wisdom_double.bin
