# The maximum merge gap in bytes.
# When updating flags, flags separated by a gap smaller than this value will be merged.
GLBUFFER_MAX_MERGE_GAP 64

GLBUFFER_FLUSH_EXPLICIT 1

GLBUFFER_ASSERT_BINDINGS 1

GLVAO_ASSERT_BINDINGS 1


INPUT_SERIES_ELEMENT_TYPE double

# Release config
# CHUNK_SIZE_LOG2 18

# Online config
CHUNK_SIZE_LOG2 4

TEST_KERNEL_MAX_SIZE_LOG2 0
TEST_TS_MAX_SIZE_LOG2 0

# Fast test config (we make chunk size smaller to test across chunk boundaries)
# CHUNK_SIZE_LOG2 14
# TEST_KERNEL_MAX_SIZE_LOG2 16
# TEST_TS_MAX_SIZE_LOG2 16

# Slow test config
# CHUNK_SIZE_LOG2 18
# TEST_KERNEL_MAX_SIZE_LOG2 20
# TEST_TS_MAX_SIZE_LOG2 20
